@import "tailwindcss";

html {
  /* This enables the smooth gliding effect when clicking links */
  scroll-behavior: smooth;
  
  /* This prevents the sticky navbar from covering your section titles */
  /* 80px is roughly the height of your navbar */
  scroll-padding-top: 80px;
}

*{
  font-family: 'Times New Roman', Times, serif;
}